<!DOCTYPE html>

<html lang="ru">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
<title>Комната </title>
<link href="/static/css/preloader" rel="stylesheet" type="text/css"/>
<link href="/static/css/rooms/columns" rel="stylesheet" type="text/css"/>
<link href="/static/css/rooms/tiles" rel="stylesheet" type="text/css"/>
<script src="/static/js/preloader" type="text/javascript"></script>
<script crossorigin="" src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin="" src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/socket.io-client@3.1.1/dist/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div class="preloader">
<div class="preloader__row">
<div class="preloader__item"></div>
<div class="preloader__item"></div>
</div>
</div>
<div id="rot"></div>
<script src="/static/js/rooms/users" type="text/javascript"></script>
<script src="/static/js/rooms/tile" type="text/javascript"></script>
<script src="/static/js/rooms/chess" type="text/javascript"></script>
<script src="/static/js/rooms/tiledeleter" type="text/javascript"></script>
<script src="/static/js/rooms/pieces" type="text/javascript"></script>
<script src="/static/js/rooms/game" type="text/javascript"></script>
<script src="/static/js/rooms/room_main" type="text/javascript"></script>
<script src="/static/js/rooms/resize" type="text/javascript"></script>
</body>
</html>